<div id="wrapper">
	<h1>Me Machine live readings</h1>
	<div class="container">
		<div id="heart_rate">
			<%= render :partial => "heart_rate" %>
		</div>
	</div>
	<div class="container">
		<div id="geolocation">
			<%= render :partial => "map" %>
		</div>
	</div><br/>
	<div class="container">
		<div id="sweat">
			<%= render :partial => "sweat" %>
		</div>
	</div>
	<div class="container">
		<div id="muscle_tension">
			<%= render :partial => "muscle_tension" %>
		</div>
	</div><br/>
	<div class="container">
		<div id="accelerometer">
			<%= render :partial => "accelerometer" %>
		</div>
	</div>
	<div class="container">
		<div id="gyroscope">
			<%= render :partial => "gyroscope" %>
		</div>
	</div>
	<div class="container">
		<div id="peak_accel">
			<%= render :partial => "peak_accel" %>
		</div>
	</div>
	<div class="container">
		<div id="posture">
			<%= render :partial => "posture" %>
		</div>
	</div>
	<div class="container">
		<div id="respiration">
			<%= render :partial => "respiration" %>
		</div>
	</div>
	<div class="clearfix"></div>
	<p>
		<a id="start" href="#">Start</a>
		<a id="stop" href="#">Stop</a>
	</p>
</div>
<p>
<a id="test_post" href="#">Test post action</a> <%#= @post_count %><br/>
<%= link_to "Clear database", delete_all_sensors_path, :method => :post %>
</p>

<div id="debug" style="display:none;">
	### Debug information ### </br>
	listener: <%= @listener.inspect %><br/>
	buffer.get_data: <%= @listener.geo_buffer.get_data %><br/>
	buffer.get_data.last: <%= @listener.geo_buffer.get_data.last %><br/>
	Latitude: <%= @latitude %><br/>
	Longitude: <%= @longitude %><br/>
	<br/>
	Rows in database: <%= RawMeasurement.count %> (limit 10.000)
</div>

<script type="text/javascript">
	$(document).ready(function($){
		debug = "";
		$("#test_post").click(function(e){
			$.ajax({
				url: "<%= url_for(:action => :post_data) %>",
				type: 'POST',
				dataType: 'json',
				data: {
					AccelerometerX: "1911.1234",
					AccelerometerY: "1227.7454",
					AccelerometerZ: "1532.2353"
				},
			  success: function(data){
				debug = data
			    alert('success! \nstatus: ' + data);
			  },
			  error: function(data){
			    alert('failure: ' + data);
			  }
			});
		});
	})
</script>