<!DOCTYPE html>
<html>
<head>
  <title>MeMachine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://memachine-push.herokuapp.com/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
